.imagen-detail{
  margin-top: 1rem;
  height: 450px;
  object-fit: contain; /* Evita que la imagen se estire */
}

.desc-detail{
  margin-top: 1rem;
  font-size: 1rem;  
  margin: 1rem 0;
    
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
